/*  your css code here. If applicable */
#table-1,#table-2{
	border:1px solid black;
	border-collapse:collapse;
	padding:1px;
	width:700px;
}
#table-1 td,#table-2 td{
	border:1px solid black;
}
#t12,#t22,#t32{
	text-align:center;
}
#t13,#t23,#t33{
	text-align:right;
}
#t21{
	border:1px solid black;
}

